<!-- <nav class="navbar navbar-expand-sm navbar-light bg-light"> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
  <a href="/" class="navbar-brand">e-Skarbnik</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home" i18n>Home</a>
      </li>
      <li class="nav-item" *ngIf="authService.userToken">
          <a class="nav-link" routerLink="/dashboard" i18n>Dashboard</a>
      </li>
      <li *ngIf="authService.userToken" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle sm" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" i18n>Users</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/memberadd" i18n>Add user</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/members" i18n>User list</a>
        </div>
      </li>
      <li class="nav-item dropdown" *ngIf="authService.userToken">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" i18n>Classes</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a routerLink="/classes/add" class="dropdown-item" i18n>Add class</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/classes" i18n>Class list</a>
        </div>
      </li>
      <li class="nav-item dropdown" *ngIf="authService.userToken">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" i18n>Events</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" i18n>Add event</a>
          <a class="dropdown-item" i18n>Edit event</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" i18n>Event list</a>
        </div>
      </li>
      <li class="nav-item" *ngIf="!authService.userToken">
        <a class="nav-link" routerLink="/login" i18n>Sign in</a>
      </li>
      <li class="nav-item" *ngIf="!authService.userToken">
        <a class="nav-link" routerLink="/register" i18n>Sign up</a>
      </li>
      <li class="nav-item" *ngIf="authService.userToken">
        <a class="nav-link" (click)="logout()" routerLink="/logout" i18n>Log out</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#" class="nav-link" title="Polski"><img src="assets/images/polish.png" alt="Polski" /></a></li>
      <li><a href="#" class="nav-link" title="English"><img src="assets/images/english.png" alt="English" /></a></li>
    </ul>
  </div>
</nav>

<header class="bg-primary text-white">
  <div class="container text-center">
    <h1>e-Skarbnik</h1>
    <p class="lead" *ngIf="authService.userToken"><ng-container i18n>You are logged in as</ng-container> <strong>{{ authService.userToken.displayName }}</strong></p>
    <p class="lead" *ngIf="!authService.userToken" i18n>You are not logged in</p>
  </div>
</header>
