<!-- <nav class="navbar navbar-expand-sm navbar-light bg-light"> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
  <a href="/" class="navbar-brand">e-Skarbnik</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li *ngIf="authService.userToken" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle sm" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" i18n>Users</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/memberadd" i18n>Add user</a>
          <a class="dropdown-item" i18n>Edit user</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/members" i18n>User list</a>
        </div>
      </li>
      <li class="nav-item dropdown" *ngIf="authService.userToken">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" i18n>Classes</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item">Dodaj klasę</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/classes">Lista klas</a>
        </div>
      </li>
      <li class="nav-item dropdown" *ngIf="authService.userToken">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Zbiórki
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item">Dodaj wydarzenie</a>
          <a class="dropdown-item">Edytuj wydarzenie</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item">Lista zbiórek</a>
        </div>
      </li>
      <li class="nav-item" *ngIf="!authService.userToken">
        <a class="nav-link" routerLink="/login">Logowanie</a>
      </li>
      <li class="nav-item" *ngIf="!authService.userToken">
        <a class="nav-link" routerLink="/register">Rejestracja</a>
      </li>
      <li class="nav-item" *ngIf="authService.userToken">
        <a class="nav-link" (click)="logout()" routerLink="/logout">Wyloguj się</a>
      </li>
    </ul>
  </div>
</nav>

<header class="bg-primary text-white">
  <div class="container text-center">
    <h1>e-Skarbnik</h1>
    <p class="lead">Jesteś zalogowany jako <strong>{{ authService.userToken.displayName }}</strong></p>
  </div>
</header>
