<div class="col-md-6">
  <form (ngSubmit)="updateClass(formData)" #formData="ngForm">
    <div class="form-group row">
      <label for="staticName" class="col-sm-2 col-form-label" i18n>ID</label>
      <div class="col-sm-10">
        <input [(ngModel)]="cls.id" name="id" autocomplete="id" type="text" class="form-control hide" placeholder="id" #surname="ngModel" disabled>
      </div>
    </div>
    <div class="form-group row">
      <label for="staticName" class="col-sm-2 col-form-label" i18n>Name</label>
      <div class="col-sm-10">
        <input [(ngModel)]="cls.name" name="name" autocomplete="name"  type="text" class="form-control" placeholder="Your name" #name="ngModel">
      </div>
    </div>
    <div class="form-group row">
      <label for="staticName" class="col-sm-2 col-form-label" i18n>School</label>
      <div class="col-sm-10">
        <input [(ngModel)]="cls.school" name="school" autocomplete="school" type="text" class="form-control" placeholder="School..." #surname="ngModel">
      </div>
    </div>
    <div class="form-group row">
      <label for="staticName" class="col-sm-2 col-form-label" i18n>Description</label>
      <div class="col-sm-10">
        <input [(ngModel)]="cls.description" name="description" autocomplete="description" type="text" class="form-control" placeholder="Description..." #surname="ngModel">
       
      </div>
    </div>
    <div class="form-group row">
      <label for="staticName" class="col-sm-2 col-form-label" i18n>Pupils</label>
          <select class="selectpicker" multiple>
            <option *ngFor="let usr of users">{{ usr.name }}</option>
        </select>
       <!-- <input [(ngModel)]="cls.id" name="id" autocomplete="id" type="text" class="form-control hide" placeholder="id" #surname="ngModel"> -->
    </div>
    <button type="submit" class="btn btn-primary" i18n>Update</button>

  </form>
</div>
