<section>
  <div class="container">
    <div class="row">
      <button type="button" class="btn btn-primary" routerLink="/classes/new">Dodaj Klasę</button>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Members</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cls of clss | async">
            <th scope="row"></th>
            <td>{{ cls.name }}</td>
            <td><p *ngFor="let name of cls.memberArray">{{ name }}</p></td>
            <td><button type="button" class="btn btn-primary" routerLink="/classes/{{ cls.id }}">Edit</button></td>
          </tr>
      </table>
    </div>
  </div>
</section>
