<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Witaj w aplikacji e-Skarbnik</h2>
        <p class="lead">e-Skarbnik to aplikacja służąca do zarządzania zbiórkami klasowymi llub grupowymi.</p>
        <p>Jeśli jesteś uczniem lub studentem to zapewne często zdarza się, że skłądacie się na różne rzeczy,
          np. na klasowe wyjśćie do kina, dzień nauczyciela, czy np. na prezent dla wykładowcy lub pani z dziekanatu.
          Do tej czynności trzeba wybrać skarbnika, który się zajmie zbiórką. Z doświadczenia wiemy jednak, że zazwyczaj nikt nie chce podjąć się tej roli.
          Wynika to z faktu, że rola skarbika jest dość odpowiedzialna, żmudna i nierzadko ciężka.
        </p>
        <p>Na szczęście z pomocą przychodzi <strong>e-Skarbnik</strong>!</p>

        <p>Dlaczego zbiórka przez <strong>e-Skarbnik</strong>'a jest lepsza od tradycyjnego zbierania pieniędzy?</p>
        <ul>
          <li>Nie musimy angażować w to konkretnej osoby</li>
          <li>Mamy możliwość zapłacenia przez internet, za pomocą kilku platform</li>
          <li>Informacja o zbiórce trafi do każdego</li>
          <li>Mamy możliwość włączenia podglądu kto zapłacił, a kto nie. W psychologiczny sposób wymusza to na członkach </li>
          <li>Brak możliwości, że fizyczny skarbnik zostanie okradziony, przywłaszczy sobie pieniądze lub (co najgorsze) wyda zebrane pieniądze na alkohol lub inne używki (szczególnie groźne w przypadku zbiórek studentów)</li>
        </ul>
      </div>
      <div class="col-md-6">
        <img src="assets/images/home.jpg" alt="e-Skarbnik" class="img-responsive img-circle" width="100%" />
      </div>
    </div>
  </div>
</section>
