<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Witaj w aplikacji e-Skarbnik</h2>
        <p class="lead">e-Skarbnik służy do zarządzania zbiórkami klasowymi.</p>
        <p>Najważniejsze funkcjonalności naszej aplikacji:</p>
        <ul>
          <li>Lorem ipsum dolor...</li>
          <li>Lorem ipsum dolor...</li>
          <li>Lorem ipsum dolor...</li>
          <li>Lorem ipsum dolor...</li>
          <li>Lorem ipsum dolor...</li>
        </ul>
      </div>
    </div>
  </div>
</section>
