<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 i18n>Welcome to e-Skarbnik application!</h1>
        <p i18n class="lead">e-Skarbnik is an application made for menagement of class or group foundrising.</p>
        <p i18n>If You are student propably you often chip in to a lot of stuff, like a going out to cinema whole class, teachers day,
		or for example small gift for educator, or lady with the Dean's Office.
         For Those actions you have to choose an treasurer wich will take care of foundrasing . But from an experience we know that usualy
		 nobody want this role .
		 This is due to the fact that treasurer is an responsible, painstaking and often hard job.
          
          
        </p>
        <p i18n>Fortunately, with the help comes E-SKARBNIK</p>

        <p i18n>Why raising founds with an E-SKARBNIK is better than traditional raising money?</p>
        <ul>
          <li i18n>We do not have to involve a specific personosoby</li>
          <li i18n>We can pay via the Internet, using several platforms</li>
          <li i18n>Information about the collection will go to everyone</li>
          <li i18n>We have the option of including the viewer who paid and who did not. </li>
          <li i18n>There is no possibility that the physical treasurer will be robbed, he will take money or (at worst) he will spend the collected money on alcohol or other drugs (especially dangerous in the case of student collections))</li>
        </ul>
      </div>
      <div class="col-md-6">
        <img src="assets/images/home.jpg" alt="e-Skarbnik" class="img-responsive img-circle" width="100%" />
      </div>
    </div>
  </div>
</section>
