<div class="col-md-6">
  <form (ngSubmit)="onSubmit(formData)" #formData="ngForm">
      <div class="form-group row">
          <label for="staticName" class="col-sm-2 col-form-label" i18n>Name</label>
          <div class="col-sm-10">
            <!-- <input [(ngModel)]="event.name" name="name" autocomplete="name"  type="text" class="form-control" placeholder="Event name" #name="ngModel"> -->
            <input class="form-control" name="key" #name="ngModel" [(ngModel)]="evCrud.key" placeholder="key">
          </div>
        </div>
    <div class="form-group row">
      <label for="staticName" class="col-sm-2 col-form-label" i18n>Name</label>
      <div class="col-sm-10">
        <!-- <input [(ngModel)]="event.name" name="name" autocomplete="name"  type="text" class="form-control" placeholder="Event name" #name="ngModel"> -->
        <input class="form-control" name="name" #name="ngModel" [(ngModel)]="evCrud.name" placeholder="Event name">
      </div>
    </div>
    <div class="form-group row">
      <label for="staticName" class="col-sm-2 col-form-label" i18n>Cost</label>
      <div class="col-sm-10">
        <!-- <input [(ngModel)]="event.cost" name="cost" autocomplete="cost" type="text" class="form-control" placeholder="$$$..." #school="ngModel"> -->
        <input class="form-control" name="cost" #name="ngModel" [(ngModel)]="evCrud.cost" placeholder="$$$...">
      </div>
    </div>
    <div class="form-group row">
      <label for="staticName" class="col-sm-2 col-form-label" i18n>Description</label>
      <div class="col-sm-10">
        <!-- <input [(ngModel)]="event.description" name="description" autocomplete="description" type="text" class="form-control" placeholder="Description..." #description="ngModel"> -->
        <input class="form-control" name="description" #name="ngModel" [(ngModel)]="evCrud.description" placeholder="description">
      </div>
    </div>
    <button type="submit" class="btn btn-primary" i18n>Create</button>

  </form>
</div>
