<section>
  <div class="container">
    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col" i18n>Name</th>
            <th scope="col" i18n>Class</th>
            <th scope="col" i18n>Cost</th>
            <th scope="col" i18n>Description</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ev of evs | async; let i = index">
            <td>{{ i+1 }}</td>
            <td>{{ ev.name }}</td>
            <!-- <td><button type="button" class="btn btn-primary" routerLink="/classes/{{ cls.id }}" i18n>Edit</button></td> -->
          </tr>
      </table>
    </div>
  </div>
</section>
